/* nejsme vcerejsi, pouzivame moderni box model */

html {
    box-sizing: border-box;
}

*, :after, :before {
    box-sizing: inherit;
}

/* -------------------------------------------------- */

body {
    margin: 0;
    font-family: 'Source Sans Pro', sans-serif;
}

h2 {
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

.paticka {
    text-align: center;
    font-size: 14px;
    color: silver;
}

.paticka a {
    color: silver;
}

/* -------------------------------------------------- */

/*
pouzivame mobile first pristup
tj. vychozi styly mimo media query jsou pro nejmensi mobilni zarizeni (telefony)
s pribyvajici sirkou pridavame media query pro...
tablety:
@media (min-width: 480px) {
}
notebook/pc:
@media (min-width: 860px) {
}
*/

/* tvoje styly sem */

.h1 {
    font-weight: 800;
}

.hlavni-recept {
    background: url("images/burger.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    min-height: 200px;
    position: relative;
}

.recept2 {
    background: url("images/sushi.jpg") no-repeat;
}

.recept3 {
    background: url("images/rajcata.jpg") no-repeat;
}

.recept4 {
    background: url("images/kure.jpg") no-repeat;
}

.recept5 {
    background: url("images/grilovani.jpg") no-repeat;
}

.recept-kategorie {
    color: white;
    position: absolute;
    padding: 10px;
}

.recept-komentare {
    color: white;
    position: absolute;
    padding: 10px;
    right: 0;
}

.recept-nazev {
    font-size: 18px;
    color: white;
    position: absolute;
    bottom: 0;
    padding: 10px;
}

.hlavni-recept, .recept-nazev {
    font-size: 28px;
}

.recept {
    min-height: 90px;
    background-size: cover;
    background-position: 50% 50%;
    position: relative;
    text-shadow: 1px 1px 20px black;
    border: 0.3px solid white;
}

@media (min-width:480px) {
    .hlavni-recept {
        min-height: 250px;
    }
    .recept {
        min-height: 150px;
        width: 100%;
    }
    .recept-kategorie, .recept-komentare, .recept-nazev {
        padding: 20px;
    }
    .sloupec {
        display: flex;
        width: 100%;
    }
    .recept-nazev {
        font-size: 22px;
    }
    .recept-nazev.burger {
        font-size: 36px;
    }
}

@media (min-width:860px) {
    .hlavni-recept {
        min-height: 400px;
        width: 80%;
    }
    .recept {
        min-height: 200px;
        width: 100%;
    }
    .sloupec {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .recept-nazev {
        font-size: 28px;
    }
    .recept-nazev.burger {
        font-size: 48px;
    }
    .doporucujeme {
        display: flex;
    }
}